<html>
    <head>
        <!-- index page has login form called login -->
        <title>The Wall</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>-->
    </head>
    <body>
        <div class="wrapper">
	<div class="header"><h1>The Wall</h1></div>
        <form class="index" action='/login' method='post'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% if session['status'] == 'False' %}
              
            <p>Email Address: <input type='text' name='email'></p>
            <p>Password: <input type='text' name='password'></p>
            <input type='submit' id='button' value='Submit'>

        </form>
        {% endif %}
        </div>
    </body>
</html>


