<html>
    <head>
        <!-- index page has login form called login -->
        <title>The Wall</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>-->
    </head>
    <body>
        <div class="wrapper">
        <div class="header">
                <p>Welcome {{ session['first_name'] }}</p><a href="/logoff"><button>Logoff</button></a>
        </div>
	    <form action='/messages' method='post'>
            <p>Add a message</p> 
            <textarea name='message'></textarea>
            <input type='submit' id='button' value='Submit'>
            </form>

      {% for message in messages_list %}

        <h3>{{ message['message']}}</h3> 
        <p>{{message['id']}}</p> 
        
	<form action='/comments/{{message['id']}}/{{session['id']}}' method='post'>

        <textarea name='comment'></textarea>
        <input type='submit' id='button' value='Submit'>

        </form>

        {% if message['comments'] %}
        {% for comment in message['comments'] %}
            <p>{{comment['comment']}}</p>
	{% endfor %}
        {% endif %}


      {% endfor %}

        </div>
    </body>
</html>


